_build
debian/ubuntu-insights

# False positive
vendor/gopkg.in/yaml.v3/LICENSE
vendor/github.com/klauspost/compress/LICENSE
vendor/github.com/docker/docker/LICENSE
vendor/github.com/docker/docker/NOTICE

# BSD-style license based on CRYPTOGAMS BSD-3 code
vendor/golang.org/x/crypto/chacha20/chacha_ppc64x.s
