[Unit]
Description="Collect platform report using Ubuntu Insights while respecting consent."

[Service]
Type=oneshot
ExecStart=/usr/bin/ubuntu-insights collect -p=2629743
Restart=no
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/mnt/c/WINDOWS/system32"
SuccessExitStatus=1

# Containment
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=%h/.config %h/.cache
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=true
PrivateTmp=yes
PrivateUsers=yes
ProtectControlGroups=yes
ProtectKernelTunables=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
KeyringMode=private
ProcSubset=pid
IPAddressDeny=any
ProtectProc=invisible
RestrictAddressFamilies=AF_UNIX
RestrictNetworkInterfaces=yes

[Install]
Also=ubuntu-insights-collect.timer
