[Unit]
Description="Upload collected and matured platform reports using Ubuntu Insights while respecting consent"

[Service]
Type=oneshot
ExecStart=/usr/bin/ubuntu-insights upload -r
Restart=no
SuccessExitStatus=1

# Containment
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=true
PrivateMounts=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
KeyringMode=private
ProtectProc=invisible
RestrictAddressFamilies=AF_INET AF_INET6

[Install]
Also=ubuntu-insights-upload.timer
