[Unit]
Description="Upload collected and mature platform report using Ubuntu Insights while respecting consent."

[Service]
Type=simple
ExecStart=/usr/bin/ubuntu-insights upload -r
Restart=no

[Install]
Also=ubuntu-insights-upload.timer
