name: Verify systemd files

env:
  apt_deps: "libwayland-dev"

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    paths:
      - "./insights/autostart/systemd/*"

# We ignore concurrency for main pushes to avoid the finickiness of canceling in-progress runs on main, while still executing quickly.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref == 'refs/heads/main' && github.run_id }}
  cancel-in-progress: true

jobs:
  verify-systemd:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y ${{ env.apt_deps }}
      - name: Build Ubuntu-Insights
        run: |
          cd insights/cmd/insights
          sudo go build -o /usr/bin/ubuntu-insights
      - name: Verify systemd files
        run: systemd-analyze --user verify ./insights/autostart/systemd/*
